/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles or utilities */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    background-color: #2D25A0;
    /* height: 677px; */
    margin-bottom: 70px;
    color: white;
    font-style: normal;
    font-weight: 700px;
    font-size: 64px;
    line-height: 80px;
}
h1{
    width: 100%;
    /* width: 485px; */
    height: 230px;
    left: 156px;
    top: 207px;
}

.half-width{
    width:50%;
    justify-content: center;
    margin-top: 207px;
    margin-left: 156px;
    margin-bottom: 240px;
    margin-left: 102px;
}
.half-width img{
    width: 100%;
    justify-content: center;
    /* width: 556.01px; */
    /* height: 438px; */
}
.anchor-button{

    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 9px #f1a3bf86;
}
.anchor-button:hover{
    background-color: rgb(22, 214, 4);
}
.fa-arrow-right{
    width: 24px;
    height: 24px;
    padding-right: 33px;
}

/* main styles */

.players{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    /* align-items: center; */
}
.player{
    background-color: white;
    width: 330px;
    height: 474px;
    display: flex;
    flex-direction: column;
    padding: 15px;

}
.player .thumbnail img{
    width: 300px;
    height: 256px;
}
.player-name{
    font-size: 28px;
    font-weight: 700;
    width: 300px;
    height: 40px;
}
.sponsor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: whitesmoke;
    background-color: rgb(236, 230, 236);
    color: red;
    font-size: 25px;
    font-weight: 700;
    width: 100%;
    height: 300px;
}

.subscription{
    background-color: palegreen;
    text-align: center;
    font-size: 25px;
    color: rgba(4, 63, 255, 0.849);
    width: 100%;
    height: 200px;
    margin-bottom: 100px;
    padding-top: 10px;
}
.subcribe-button{

    text-decoration: none;
    background-color: #e02c2c;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 9px #f1a3bf86;
}
.subcribe-button:hover{
    background-color: rgb(22, 214, 4);
}
/* -------------
       main end 
---------------- */
/* footer styles */
.football{
    background-color: white;
    width: 483.87px;
    height: 213px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 580px;
}    
/* .logo img{
    width: 483.87px;
    height: 110px;
    justify-content: center;
} */

/* media-query style */
/* mobile device */
@media only screen and (max-width: 688px){
    .header{
        width: 100%;
    }
    .players .football{
        grid-template-columns: repeat(1, 1fr);
    }
    .player{
        flex-direction: column;
    }
}